body{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

h1{
    font-size: 80px;
    font-weight: 900;
    line-height: 106px;
    margin-bottom: 32px;
}

h2{
    font-size: 64px;
    font-weight: 500;
    line-height: 84px;
}

h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 42px;
}

p{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}

.white-content{
    color: white;
}

.black-content{
    color: black;
}

.banner{
    height: 960px;
    background-repeat: no-repeat;
    background-image: url('../images/banner.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    display: flex;
    flex-direction: column;
    width: 304px;
    height: 342px;
}

.banner-content p{
    margin-bottom: 40px;
}

.social-media-icon{
    display: flex;
    justify-content: space-around;
}

.self-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
}

.self-intro img{
    width: 384px;
    height: 384px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.self-intro p{
    width: 413px;
    text-align: center;
    padding-bottom: 24px;
}

.self-intro ul{
    width: 384px;
    padding: 28px 3px;
    border-top: 1px solid black;
}

.self-intro li::before{
    content: "";
    width: 22px;
    height: 22px;
    background-color: #891818;
    display: inline-block;   
    margin-right: 16px;
    border-radius: 50%;
}

.self-intro li{
    font-size: 24px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 28px;
}

.my-brand{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 160px;
}

.my-brand h2{
    margin-bottom: 12px;
}

.my-brand p{
    font-size: 20px;
    line-height: 30px;
    width: 320px;
    padding-top: 32px;
    padding-bottom: 28px;
}

.my-brand img{
    margin-top: 40px;
}

.my-brand ul{
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.work-experience{
    padding-top: 56px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-experience h2{
    margin-bottom: 16px;
}

.work-experience p{
    width: 226px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 56px;
}

.work-row{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.work-row h3{
    font-size: 20px;
    line-height: 42px;
    font-style: normal;
    padding-top: 16px;
    padding-bottom: 48px;
}